body {
    background-color: rgb(234, 234, 248);
}

#post {
    position:relative;
    width: 50vh;
    margin-top: 4%;

    background-color: rgb(255, 255, 255)
}

.buttons {
    background-color: rgb(208, 215, 236);
}

.textbox {
    position: absolute;
    top: 10%;
    border: 2px solid rgb(255, 255, 255);
    border-style: groove;

    
} 

.submit {
    border-radius: 8px;
    background-color: rgb(212, 216, 238);

}

.submit {
position: absolute;
top: 6%;

}