
#post {
    position:relative;
    width: 50vh;
    margin-top: 4%;

    background-color: rgb(255, 255, 255)
}

.buttons {
    background-color: rgb(208, 215, 236);
}

.textbox {
    position: absolute;
    top: 10%;
    width: 60%;
    background-color: lightgray;
    border-radius: 20px;
    padding: 5px;
    max-width: 1000px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 300px;
    
} 

.submit {
    border-radius: 8px;
    background-color: rgb(212, 216, 238);

}

.submit {
position: absolute;
top: 6%;

}